<style>
body {
    background:#08a0e9;
}
.jumbotron{
    border:solid 3px white;
    color :white;
    background:#08a0e9;
    border-radius:20px;
    width:600px;
    margin:auto;
}
.container{
    margin-top:20px;
}
.imagen{
    border-radius:100px;
}
hr{
    border: 2px solid white;
    width:500px;
}
</style>
<%= render "users/nav"%>
<div class="container">
        <div class="jumbotron">
        <%= image_tag "https://yt3.ggpht.com/a-/AN66SAwGMPYKKYhYGt6V3NLMBAU3a0w-zfsmttDoYQ=s900-mo-c-c0xffffffff-rj-k-no",width:"100px" ,class:"imagen"%>
        
        <h1><%=@user.name%> <i class="fas fa-user-check"></i></h1>
        <hr>
        <ul>
        <%@posts.each do |post|%>
            <li><h2><%= post.title %></h2>
                <ul class="list-group">
                    <li class="list-group-item text-dark h5"><%= post.description %></li>
                </ul>   
            </li>
            <%end%>  
        </ul>
        <%= link_to 'Write a New Post', new_post_path(user: @user.id),class:"btn btn-primary btn-block" %>
        </div>  
 </div>        
        
 
 